@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4A67B8;
  --textColor: #FFFFFF;
  --cardColor: #FFEAB3;
  --textCardColor: #282301;
  --hoverCard: #FF8F29;
}

body {
  color: var(--textColor);
  background: var(--background);  
  width: 100vw;
}


@import url('./assets/card.css');
@import url('./assets/list-card.css');
@import url('./assets/badgeType.css');
@import url('./assets/pokemonView.css');